p {
  background-color: bisque;
  text-align: center;
}

#margin {
  margin: 50px;
}

#marginCollapes {
  margin: 0 0 0 60px;
}

#padding {
  background-color: beige;
  padding: 0 0 0 180px;
}

#boxModal {
  background-color: burlywood;
  margin: 50px;
  border: 15px solid black;
  padding: 20px;
}

#sectionDiv {
  background-color: blanchedalmond;
  margin: 20px;
  border: 10px solid black;
}

#textAlignCenter {
  text-align: center;
}

#textAlignleft {
  text-align: left;
}

#textAlignRigth {
  text-align: right;
}

#stcky {
  top: 0%;
  position: sticky;
  background-color: cadetblue;
  border: 2px solid black;
}

.relactive {
  position: relative;
  background-color: crimson;
  border: 5px solid black;
  width: 500px;
  height: 500px;
  margin: auto;
}
.absolute {
  position: absolute;
  top: 200px;
  left: 200px;
  width: 150px;
  height: 150px;
  background-color: chartreuse;
  border: 3px solid black;
}

.abso {
  position: absolute;
  left: 30px;
  top: 30px;
  width: 100px;
  height: 100px;
  background-color: blue;
  border: 3px solid black;
}

.overflow {
  width: 100px;
  height: 100px;
  background-color: aquamarine;
  border: 2px solid black;
}
