p {
  background-color: bisque;
  text-align: center;
}

#margin {
  margin: 50px;
}

#marginCollapes {
  margin: 0 0 0 60px;
}

#padding {
  background-color: beige;
  padding: 0 0 0 180px;
}

#boxModal {
  background-color: burlywood;
  margin: 50px;
  border: 15px solid black;
  padding: 20px;
}
