*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: 400;
}


p {
    color: aqua;
}

h1, h2, h3 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: blue;
}

#header-4{
    color: cadetblue;
}