.container {
  display: grid;
  grid-template-columns: 1fr minmax(20px, 4fr);
  grid-template-rows: 1fr 3fr 2fr;
  border: 1px solid bisque;
  width: 100%;
}

.container div {
  border: 1px solid rebeccapurple;
  background-color: burlywood;
}

.container-auto {
  display: grid;
  border: 3px solid black;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  width: 100%;
}
.container-auto div {
  border: 1px solid gray;
  background-color: blueviolet;
}

.container-area {
  display: grid;
  grid-template:
    'header header header' 80px
    'sidebar content content' 100px
    'footer footer footer' 20px / 100px auto;
}

.header {
  grid-area: header;
  background: lightblue;
}
.sidebar {
  grid-area: sidebar;
  background: lightgreen;
}
.content {
  grid-area: content;
  background: lightyellow;
}
.footer {
  grid-area: footer;
  background: lightpink;
}

.grid-container {
  display: grid;
  grid-template: 1fr 2fr/ 1fr 3fr;
  gap: 10px;
}

.grid-container div {
  background: lightblue;
  padding: 20px;
  text-align: center;
}

.grid-container-2 {
  display: grid;
  grid-template-columns: 100px 400px;
  grid-auto-columns: 10px;
  grid-auto-rows: 100px;
  width: 80%;
  justify-items: center;
  justify-content: center;
  align-content: center;

  background-color: blueviolet;
  border: 1px solid bisque;
}

.grid-container-2 div {
  background: lightblue;
  padding: 20px;
  text-align: center;
  border: 1px solid gray;
}
