
/* 1. [*] selector  */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* 2.[element] selector  */
p{
    color: blue;
}

/* 3. [class] selector */

.container {
    margin: 24px;
    padding: 16px;
    border: 1px solid #a03131;
    width: fit-content;
}

/* 4. [id-selector] selector */

#id-selector {
    color: rgb(218, 123, 0) ;
}


/* 
* 5. A B (Descendant Selector) 
* Select all B elements inside A, no matter how deeply nested.
*/

.descendant-selector p{
 color: #a03131;
}

/* 
* 6. A > B (Child Selector)
* Select only the direct child of A.
*/

.child-selector > p{
 color: #a03131;
}

/* 
* 7. A + B (Adjacent Selector)
* Select the first B immediately after A.
*/

.adjacent-selector + p{
 color: green;
}

/* 
* 8. A ~ B (General Sibling Selector)
* Select all B siblings that come after A.
*/

.general-sibling-selector ~ p{
 color: green;
}