.demo {
  width: 200px;
  height: 150px;
  border: 2px solid #444;
  margin-bottom: 20px;
  display: block;
}

.fill {
  object-fit: fill;
}

.contain {
  object-fit: contain;
}

.cover {
  object-fit: cover;
}

.none {
  object-fit: none;
}

.scale-down {
  object-fit: scale-down;
}

.custom-position {
  width: 200px;
  height: 150px;
  object-fit: cover;
  object-position: 50% 50%; /* Align image to bottom-left */
}
