.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  border: 3px solid black;
  width: 800px;
  height: 400px;
}

div {
  width: 100px;
  height: 50px;
  border: 1px solid black;
}

.container div {
  width: 100px;
  /* min-width: 10px; */
  flex-grow: 1;
}
.container div:nth-child(1) {
  /* flex-grow: 1; */
  flex-basis: 300px;
  background-color: green;
}

.container div:nth-child(2) {
  /* flex-grow: 1; */
  min-width: 200px;
  background-color: blue;
}

.container div:nth-child(3) {
  /* flex-grow: 1; */
  /* min-width: 250px; */
  background-color: red;
}
