@import url(base/typeogrphy.css);

* {
  margin: 0px;
}

h1 {
  color: blue;
}

.box {
  background-color: antiquewhite;
}

#section-id {
  background-color: blueviolet;
}

h2,
h3,
h4 {
  color: chartreuse;
}

#heading-id-2,
#heading-id-3,
#heading-id-4 {
  color: darkred;
}

nav a {
  color: green;
}

nav .item {
  color: blue;
  background-color: antiquewhite;
}
