body {
  height: 10000px;
}
.box {
  border: 3px solid red;
}

.static-box {
  position: static;
  background-color: aqua;

  padding: 10px;
}

.relative-box {
  position: relative;
  background-color: blueviolet;
  top: 80px;
  left: 40px;
}

.relative-container {
  position: relative;
  top: 150px;
  width: 600px;
  height: 300px;
  background-color: darkcyan;
}

.absolute {
  position: absolute;
  background: orange;
  width: 100px;
  height: 100px;
  top: 100px;
  left: 300px;
}

.fixed-box {
  position: fixed;
  bottom: 10px;
  right: 10px;
  background-color: chocolate;
  margin: 16px;
  border: 3px solid red;
}

.sticky-box {
  position: sticky;
  top: 0px;
  background-color: rgb(245, 3, 229);
  z-index: 100;
}
