.container {
  display: flex;
  width: 500px;
}

.box {
  padding: 10px;
  border: 2px solid black;
  text-align: center;
}

.a {
  flex-grow: 1;
  flex-basis: 100px;
  background: lightgreen;
}

.b {
  flex-grow: 0;
  flex-basis: 200px;
  background: lightblue;
}
